.module_card_container {
  display: flex;
  width: auto;
  height: auto;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  background-color: black;
  margin: 1rem;

  article {
    padding: 0.5rem;
  }

  button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.7rem;
  outline:none;  
  }

}