.button {
  margin-top: 1rem;
  &[disabled] {
    svg {
      animation: animate 1s infinite;
    }
  }

}

.buttonText {
  span {
    margin-top: 2rem;
  }
  svg {
    margin-top: -1rem;
  }
}

@keyframes animate {
  from {
    transform: rotate(0deg)
  };
  to {
    transform: rotate(360deg)
  }
}