.side_bar_container {
  display: flex;
  z-index: 99;
  flex-direction: column;
  padding: 1rem;
  // background-color:var(--black-700);
  background-color: rgba(0,0,0,0);
  height: 100vh;
  left: 0;
  border-right: 2px solid var(--dark-light-700);
  // border-right: 2px solid ;
  padding: 1.5rem;

  button {
    z-index: 99;
    border: none;
    padding: 0.5rem;
    border-radius: 16px;
    margin-top: 2rem;
    background-color: var(--dark-light-600);
  }

  @media screen and (max-width: 660px) {
    flex-direction: row;
    width: 100%;
    height: auto;
    position: fixed;
    button {
      margin-bottom: 0.5rem;
      margin-left: 2rem;
      margin-top: 0rem;
    }
  }

}