.main_player_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin-top: 6rem;
  background-color: #1E292D;
  margin-bottom: -5rem;

  @media screen and (max-width: 1590px) {
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 660px) {
    margin-top: 6rem;
  }
}

.player_with_side_bar {
  display: flex;
  width: 100%;
  height: auto;
}

.header_container {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
}

.player {
  width: 100%;
  min-height: 680px;
  background-color: #1E292D;
  align-items: flex-start;
  justify-content: center;
  iframe {
    border-radius: 0rem;
    width: 100%;
    height: 850px;
    margin-left: -0.5rem;
    position: inherit;
    @media screen and (max-width: 1250px) {
      height: 580px;
      border-radius: 0rem;
    }

    @media screen and (max-width: 1090px) {
      height: 500px;
    }

    @media screen and (max-width: 915px) {
      height: 400px;
    }

    @media screen and (max-width: 740px) {
      height: 340px;
    }


    @media screen and (max-width: 550px) {
      height: 230px;
    }
  }
  @media screen and (max-width: 1590px) {
  }
  @media screen and (max-width: 490px) {
    padding: 0rem;
    margin: 0rem;
  }

  .player_container {
    width: 100%;
    display: flex;
    background-color: red;
    border-radius: 1rem;
    height: 580px;
    align-items: center;
    justify-content: center;
  
  }
}

.side_container {
  width: 30rem;
  height: 650px;
  overflow-y: scroll;
}

.side_container::-webkit-scrollbar {
  background-color: var(--new-dark);  
  width: 8px;             
}

.side_container::-webkit-scrollbar-thumb {
  background-color: white;  
}


.absolute_side_bar {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: flex-end;
  padding-right: 13rem;
  padding-top: 10rem;
  
  @media screen and (max-width: 660px) {
    padding-right: 5rem;
    padding-top: 10rem;
  }

}
