
.side_container {
  width: 30rem;
  height: 650px;
  overflow-y: scroll;

  button {
    width: 100%;
    display: flex;
  }

}

.submodule_btn {
    color: white;
    background-color: var(--dark-700);
    height: 2rem;
    align-items: center;
    padding: 1rem;
    border: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-900);
    font-size: 1rem;
}

.classroom_btn {
  background-color: var(--black-700);  
  color: white;
  border: none;
  padding: 1rem;  
  padding-left: 2rem;
  border-bottom: 1px solid #3c334b;
}

.side_container::-webkit-scrollbar {
  width: 8px;             
}

.side_container::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 37);  
  border-radius: 20px;     
}
