
.side_container {
  width: 40rem;
  height: 665px;
  overflow-y: scroll;
  background-color: var(--dark-light-700);
  margin-top: 0rem;
  border-radius: 2rem;
  border: 2px solid var(--dark-light-700);
  
  button {
    width: 100%;
    display: flex;
  }

  header {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    border-bottom: 2px solid var(--dark-light-600);
    span {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  // @media screen and (max-width: 1530px) {
  //   position: absolute;
  //   top: 10rem;
  //   right: 2rem;
  // }

}

.submodule_btn {
    color: white;
    background-color: var(--dark-700);
    align-items: center;
    padding: 1rem;
    border: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-900);
    font-size: 1rem;
    font-size: 1.2rem;
}

.image_area {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  filter: brightness(50%);
  :hover {
  filter: brightness(90%);
  }
}

.classroom_btn {
  background-color: var(--black-700);  
  color: white;
  border: none;
  article {
    display: flex;
    height: 200;
    margin-left: -100%;
    align-items: center;
    h1 {
      font-size: 1.3rem;
      z-index: 20;
      margin: 1rem;
      text-align: start;
      height: 200;
  }
  }

}

.side_container::-webkit-scrollbar {
  width: 0px;             
  background-color: #2e2b3a;
}

.side_container::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 37);  
}
