
.side_container {
  width: 30rem;
  height: 650px;
  overflow-y: scroll;
}

.side_container::-webkit-scrollbar {
  width: 8px;             
}

.side_container::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 37);  
  border-radius: 20px;     
}
