.module_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 6rem;
  flex-direction: column;

  section {
    display: flex;
  }

  @media screen and (max-width: 595px) {
    align-items: center;
    justify-content: center;
  }
}
.module_card_container {
  display: flex;
  width: auto;
  height: auto;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  background-color: var(--dark-light-700);
  margin: 1rem;
  margin-left: 2rem;
  article {
    padding: 0.5rem;
  }

  button {
  background-color: var(--dark-700);
  border: none;
  color: white;
  padding: 0.7rem;
  outline:none;  
  }

}