.module_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 6rem;
  flex-direction: row;
  flex-direction: column;

  @media screen and (max-width: 595px) {
    align-items: center;
    justify-content: center;
  }
}
.module_card_container {
  display: flex;
  width: 350px;
  height: 300px;
  justify-content: center;
  padding-bottom: 0.5rem;
  flex-direction: column;
  margin: 1rem;
  margin-left: 2rem;
  cursor: pointer;
  article {
    padding: 0.5rem;
  }

  button {
  border: none;
  padding: 0.7rem;
  outline:none;  
  display: flex;
  }

  :hover {
    filter: brightness(80%);
    transition: all 0.5s;
  }

  

}