.module_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 6rem;
  flex-direction: row;
  flex-direction: column;

  @media screen and (max-width: 595px) {
    align-items: center;
    justify-content: center;
  }
}
.module_card_container {
  display: flex;
  width: 350px;
  height: 300px;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  flex-direction: column;
  cursor: pointer;
  article {
    padding: 0.5rem;

    h2 {
    }
  }

  button {
  border: none;
  padding: 0.5rem;
  outline:none;  
  display: flex;
  font-size: 0.9rem;
  }

  :hover {
    filter: brightness(60%);
    transition: all 0.5s;
  }

  .player_area {
    position: absolute;
    width: 350px;
    height: 200px;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    margin-top: -6.4rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    z-index: 40;
    
    // :hover {
    //   filter: brightness(60%);
    // }
  }
}

.class_card_container {
  display: flex;
  width: 450px;
  height: 350px;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  flex-direction: column;
  cursor: pointer;
  article {
    padding: 0.5rem;

    h2 {
    }
  }

  button {
  border: none;
  padding: 0.5rem;
  outline:none;  
  display: flex;
  font-size: 0.9rem;
  }

  :hover {
    filter: brightness(60%);
    transition: all 0.5s;
  }

  .player_area {
    position: absolute;
    width: 450px;
    height: 250px;
    display: flex;
    background-color: rgba(0,0,0,0.3);
    margin-top: -6.4rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    z-index: 40;
    
    // :hover {
    //   filter: brightness(60%);
    // }
  }
}

.cards_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .class_name {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 100;
    color: rgb(121, 120, 120);
  }

  .class_card_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }
}

.mySwiper {
  width: 1600px;
  display: flex;
  height: 450px;
}

.slider_container {
  .sub_module_name {
    font-size: 1.2rem;
    margin: 1rem;
  }
}
