.modal_container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    background-color: var(--dark-900);
    padding: 1rem;
  }

  label {
    color: white;
    display: flex;
    align-items: center;

    span {
      margin-top: -1rem;
      margin-left: 10px;
    }
  }
}