.notification_card_container {
  width: 100%;
  height: auto;
  cursor: pointer;
  // background-color: rgba(121, 121, 121, 0.319);
  border: 1px solid #394f5765;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  .class_side {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    section {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      width: 40%;
      align-items: flex-end;
      .class_name {
        text-align: end;
        margin-right: 0rem;
        align-self: flex-end;
      }
      span {
        margin-right: 0rem;
        color: #aaa;
        margin-left: 00rem;
      }
    }
  }

  .user_side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    justify-content: center;
    img {
      margin-right: 1rem;
      border-radius: 50%;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      margin-top: 1rem;
      width: 100%;
    }
  }

}


.notification_card_container:hover {
  background-color: rgba(0,0,0,0.1);
  filter: brightness(50%);
}
