.notification_card_container {
  width: 100%;
  height: auto;
  cursor: pointer;
  // background-color: rgba(121, 121, 121, 0.319);
  border: 1px solid #394f5765;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;

  .class_side {
    display: flex;
    width: 50%;
    align-items: flex-end;
    flex-direction: column;

      .class_name {
        text-align: start;
      }
      span {
        color: #aaa;
      }
  }

  .user_side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    justify-content: center;
    height: 200px;
    overflow-y: scroll;
    img {
      margin-right: 1rem;
      border-radius: 50%;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
      margin-top: 1rem;
      word-break: break-all;
      width: 100%;
    }
  }

  .user_side::-webkit-scrollbar {
    width: 1px;
  }
  
  .user_side::-webkit-scrollbar-track {
    background: #282828;
  }
  
  .user_side::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
  }
  
  .user_side::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}


.notification_card_container:hover {
  background-color: rgba(0,0,0,0.1);
  filter: brightness(50%);
}
