.sub_comment_container {
  margin-left: 2rem;

  input {
    width: 200px;
    padding: 0.4rem;
    background-color: var(--dark-light-700);
    color: white;
    border: none;
    border-radius: 1rem;
  }
}