.header_container {
  display: flex;
  top: 0px;
  height: 6rem;
  width: 100%;
  background-color: var(--new-dark);
  position: fixed;
  z-index: 99;
  padding-left: 1rem;
  color: white;
  margin-left: -15rem;

  @media screen and (max-width: 478px) {
    padding-left: 0rem;
  }

  aside {
    display: flex;
    h2 {
      font-size: 18px;
      margin-right: 1rem;
    }

    .change_mdule_container {
      margin-right: 5rem;
      color: white;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  button {
    background-color: rgba(0,0,0,0.0);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      background-color: #B8860B;
      padding: 0.2rem;
      border-radius: 1rem;
      margin-top: -0.5rem;
    }
  }

  @media screen and (max-width: 660px) {
    flex-direction: row;
    width: 100%;
    position: fixed;
    margin-top: 0rem;
  }
}

.premium_area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
  h2 {
    margin-left: 1rem;
    margin-top: -0.6rem;
  }
  button {
    margin-top: 0.5rem;
    font-weight: 800;
    align-self: flex-start;
    :hover {
    transition: all 0.3s;
    filter: brightness(60%);
    }
    span {
      margin-left: 1rem;
      background-color: rgba(0,0,0,0.0);
      color: #aaa;
    }
  }
}

.navigation_container {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  .navigation_screen {
    justify-self: flex-end;
    width: auto;
    @media screen and (max-width: 746px) {
      display: none;
    }
  }


  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    button {
      :hover {
        filter: brightness(50%);
        transition: all 0.3s;
      }
    }
    a {
      justify-self: flex-start;
      display: flex;
      align-items: center;
      :hover {
        filter: brightness(70%);
        transition: all 0.3s;
      }

      svg {
        margin-left: 1rem;
        margin-top: 0.4rem;
      }
    }
  }
}

.user_container {
  width: 32rem;
  height: 100%;
  border-left: 2px solid #263135;
  border-bottom: 2px solid #263135;
  display: flex;
  align-items: center;

  .user_photo {
    margin-left: 1rem;
    transition: all 0.5s;
    :hover {
      transition: all 0.5s;
      filter: brightness(80%);
    }
    svg {
      color: #B8860B;
      font-size: 1.3rem;
      margin-top: -1rem;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 0px;
  }
}

.modules_are::-webkit-scrollbar {
  width: 2px;          
}

.modules_are::-webkit-scrollbar-track {
  background: var(--new-dark); 
}

.modules_are::-webkit-scrollbar-thumb {
  background-color: var(--new-green); 
  border-radius: 1px;      
}


.modules_are {
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 478px) {
    justify-content: center;
    width: 50%;
    margin-right: 2rem;
    padding-left: 20rem;
  }
}

@media screen and (max-width: 800px) {
  .modules_are::-webkit-scrollbar {
    width: 2px;  
    height: 2px;        
  }
  
  .modules_are::-webkit-scrollbar-track {
    background: var(--new-dark); 
  }
  
  .modules_are::-webkit-scrollbar-thumb {
    background-color: var(--new-green); 
    border-radius: 1px;      
  }
  
  }
