.label_content {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 2rem;
  }
}

.home_container {
  min-height: 100vh;
  background: url("../../../public/backgrounds/background6.jpg") fixed center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  button {
    width: 450px;
    padding: 0.7rem;
    font-size: 1.3rem;

    :hover {
      filter: brightness(20%);
    }
  }
  h2 {
    margin-top: 3rem;
  }

  .handle_form {
    color: var(--white);
    margin: 1rem;
    cursor: pointer;

    &:hover {
      filter: brightness(80%);
    }
  }
}

.confirPassword_area {
  display: flex;
  flex-direction: column;
  background-color: var(--new-dark);
  border-radius: 2rem;
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.77);
  backdrop-filter: blur(2px);
  background-color: #2d3e44e1;
  padding: 2rem;
  button {
    height: 2rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid white;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.0);
    color: white;

    :hover {
      filter: brightness(50%);
    }
  }
  .recover_password_area_button_back {
    align-self: flex-start;
    margin-bottom: 6rem;
    width: 200px;
  }
  input {
    width: 100%;
  }
}

.recover_password_area {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  height: 400px;
  width: 700px;
  box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.77);
  padding: 0rem 1rem;
  background-color: #2d3e44e1;
  backdrop-filter: blur(2px);
  padding: 2rem;
  .send_btn {
    width: 80%;
  }
  button {
    height: 2rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid white;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.0);
    color: white;

    :hover {
      filter: brightness(50%);
    }
  }

  .recover_password_area_button_back {
    align-self: flex-start;
    margin-bottom: 6rem;
    width: 100px;
  }
  input {
    width: 80%;
  }
}

.recover_password_area_button_back {
  align-self: flex-start;
  margin-bottom: 6rem;
  width: 100px;
}
