.player_inf_container {
  justify-content: space-between;
  padding: 1rem;


  article {
    h1 {
      font-size: 1.7rem;
    }

    span {
      font-size: 1rem;
      margin-top: 2rem;
    }
  }
}

.pencil_container {
  display: flex;
  width: 600px;
  section {
    margin: 0.5rem;
  }
}

.one_pencil_container {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 3rem;
  section {
    margin: 0.2rem;
  }
}

.pencil_item {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: 1.4rem;
    background-color: var(--input);
    width: 200px;
    text-align: center;
    border-radius: 1rem;
  }
}
